.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.dropdown-item .item-text {
    display: inline-block;
    max-width: 14ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
